* {
  box-sizing: border-box;
  color: white;
  --primaryColor: hsl(220, 48%, 25%);
  --accentColor: hsl(42, 80%, 50%);
  --accentLighter: hsl(42, 80%, 60%);
  --accentDarker: hsl(42, 80%, 30%);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
